@charset "UTF-8";

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
}

.spinner-grow {
	width: 10rem; 
	height: 10rem;
}

.nav-link {
	color: rebeccapurple;
}

.nav-link:hover {
	color: violet;
}

.card-body p {
	font-weight: bold;
}

.card-body span {
	font-weight: normal;
}

.card-body h5 {
	color: rebeccapurple !important;
	text-transform: uppercase;
}

.card-img-top {
	height: 170px;
  	object-fit: cover;
}

.card {
	transition: all 0.3s;
	box-shadow: 0px 0px 5px 5px #ccc;
	transform: rotate(-4deg);
}
.card:hover {
	transform: rotate(0);
	transform: scale(1.2);
	z-index: 999;
	box-shadow: 0px 0px 30px 5px #bbb;
}

